button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin: 4px;

  &.learn-more {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &.btn_Get {
      background: $light-green;
      border: 2px solid $green-border;
      &::before {
        background: $dark-green;
        box-shadow: 0 0 0 2px $green-border, 0 0.625em 0 0 $green-shadow;
      }
      &:hover {
        background: $green;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $green-border, 0 0.5em 0 0 $green-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
    }
    &.btn_Post {
      background: $light-blue;
      border: 2px solid $blue-border;
      &::before {
        background: $dark-blue;
        box-shadow: 0 0 0 2px $blue-border, 0 0.625em 0 0 $blue-shadow;
      }
      &:hover {
        background: $blue;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $blue-border, 0 0.5em 0 0 $blue-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
    }
    &.btn_Put {
      background: $light-yellow;
      border: 2px solid $yellow-border;
      &::before {
        background: $dark-yellow;
        box-shadow: 0 0 0 2px $yellow-border, 0 0.625em 0 0 $yellow-shadow;
      }
      &:hover {
        background: $yellow;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $yellow-border, 0 0.5em 0 0 $yellow-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
    }
    &.btn_Delete {
      background: $light-red;
      border: 2px solid $red-border;
      &::before {
        background: $dark-red;
        box-shadow: 0 0 0 2px $red-border, 0 0.625em 0 0 $red-shadow;
      }
      &:hover {
        background: $red;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $red-border, 0 0.5em 0 0 $red-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
    }
  }
}
