$bg: hsl(0, 0%, 100%);
$text: hsl(25, 24%, 18%);
$light-green: hsl(143, 100%, 83%);
$light-blue: hsl(236, 55%, 71%);
$light-red: hsl(0, 67%, 68%);
$light-yellow: hsl(27, 67%, 68%);

$green: hsl(141, 93%, 77%);
$blue: hsl(234, 93%, 77%);
$red: hsl(0, 93%, 77%);
$yellow: hsl(27, 93%, 77%);

$dark-green: hsl(120, 100%, 79%);
$dark-blue: hsl(234, 100%, 79%);
$dark-red: hsl(0, 100%, 79%);
$dark-yellow: hsl(27, 100%, 79%);

$green-border: hsl(128, 22%, 61%);
$blue-border: hsl(234, 22%, 61%);
$red-border: hsl(0, 22%, 61%);
$yellow-border: hsl(27, 22%, 61%);

$green-shadow: hsl(106, 100%, 80%);
$blue-shadow: hsl(234, 100%, 80%);
$red-shadow: hsl(0, 100%, 80%);
$yellow-shadow: hsl(27, 100%, 80%);
